!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
      %link{ href: "messages.scss", rel: "stylesheet"}
  %body
    #header
      %p チャットグループが作成されました。
    .sidebar
      .user
        %span{class: "user--name user--name__font" }aritomo
        = fa_icon "edit 1x", class: "fa_icon"
        = fa_icon "gear 1x", class: "fa_icon"
      .group
        %p{class: "group--name group--name__font"} グループ名
        %p{class: "group--message group--message__font"} message

    .main
      .edit-botton
        %p Edit
      .group
        %p{class: "group--name group--name__font"} sampleグループ
        %p{class: "group--member group--member__font"} MEMBER:aritomo

      .tweet-space
        %p.tweet-space--username aritomo
        %a.tweet-space--timesstamp 2017/06/06 17:36:24
        %p.tweet-space--text なかなか完成しないなあ
      .tweet-box
        %p tweet-box
        = fa_icon "photo",class: "fa_icon"
      .send-botton
        %p send
       

